<div class="min-height">
  <div class="container">

    <!-- heading title -->
    <h1>{{title}}</h1>
    <div class="row">
      <div class="col-sm-3">
        <form class="navbar-form">
          <select class="form-control width-100" (change)="selectCountryChange($event)">
            <option>Select</option>
            <option *ngFor="let bank of bankArr">{{ bank }}</option>
          </select>
        </form>
      </div>
      <div class="col-sm-9">
        <form class="navbar-form">
          <div class="row">
            <div class="col-sm-9">
              <div class="form-group width-100">
                <input type="text" class="form-control width-100" name="search" placeholder="Search" [(ngModel)]="searchedVal" >
              </div>
            </div>
            <div class="col-sm-3">
              <button type="submit" class="btn btn-primary width-100" (click)="searchValChange(this.searchedVal)">Submit</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <!-- loader -->
    <div class="animate text-center" *ngIf="animate == true">
      <img width="50" src="https://loading.io/spinners/wave/lg.wave-ball-preloader.gif" alt="Loading">
    </div>

    <!-- data table -->
    <div class="table-responsive margin-top-16" *ngIf="values.length">
      <table class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th width="20%">IFSC Code</th>
            <th width="20%">Bank Name</th>
            <th width="20%">Branch</th>
            <th width="20%">Address</th>
            <th width="20%">City</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let val of values">
            <td>{{val.ifsc}}</td>
            <td>{{val.bank_name}}</td>
            <td>{{val.branch}}</td>
            <td>{{val.address}}</td>
            <td>{{val.city}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>